.aboutWrapper {
  border-style: solid;
  border-color: red;
}

.aboutHeader {
  /* text-align: center;  */
  color: #6c8b7c;
  font-family: 'Homemade Apple', cursive;
  font-size: 4rem;
  margin: 0;
  padding: 2rem 0rem 0rem 4rem;
}

.aboutMessageContainer {
  /* border-style: solid;
  border-color: blue; */
  margin-left: 14rem;
  max-width: 85%;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: #ab917f;
  font-weight: bold;
}
a:hover, a:active {
  color:#3d5047;
}