/* Navigation Bar Styling top right bottom left*/
.navBar {
  padding: 3.2rem 0rem;
  display: flex;
  justify-content: flex-end;
  background-color: #ab917f;
}

a.navLink {
  text-decoration: none;
  color:#f5f3f5;
  font-family: 'Yeseva One', cursive;
  font-size: 2rem;
  background-color: #ab917f;
  padding-right: 3.2rem;
  
}

a:hover, a:active {
  color:#3d5047;
}



/* #d8ac7c */