footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px #08aa5c solid;
}

.footerCopyright {
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  color: #6c8b7c;
}

.footerSocial {
  display: flex;
}
.socialIcons {
  width: 25px;
  height: 25px;
  padding: 0.2rem
}