footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  /* border: 1px red solid; */
}

.footerMessage {
  color:#3d5047;
}

.footerCopyright {
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  color: #6c8b7c;
}

.footerSocial {
  display: flex;
}
.socialIcons {
  width: 25px;
  height: 25px;
  padding: 0.2rem
}